# local
*.iml
tmp
bin
engine
.idea
.DS_Store
vendor
.netrc

resources/webapps/swagger/docs.go
resources/webapps/swagger/swagger.json
resources/webapps/swagger/swagger.yaml
resources/mock/generated/*

# testing
coverage.html
coverage.out
